<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData[ViewKey.Title] - My ASP.NET Application</title>
    <link rel="author" href="/humans.txt" />
    @Styles.Render(Bundles.Styles.Theme)
    @Scripts.Render(Bundles.Scripts.Modernizr)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Blog-n", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="PageContent" class="container body-content">
        @RenderBody()
    </section>
    <footer id="PageFooter">
        <div class="container">
            <p class="copyright">&copy;  Copyright @DateTime.Now.Year Larry House</p>
            <p class="powered-by">
                Powered By: 
                <a href="http://github.com/lahouse/Blog-n/">
                    <span class="logo-blog">Blog</span><span class="logo-n">-n</span> 
                </a>
                - The ASP.NET MVC Blog Engine for .NET Developers
            </p>
        </div>
    </footer>
    @Scripts.Render(Bundles.Scripts.JQuery)
    @Scripts.Render(Bundles.Scripts.Bootstrap)
    @RenderSection(Sections.Scripts, required: false)
</body>
</html>
